<form class="flexcol {{cssClass}}" autocomplete="off">

   {{!-- Sheet Header --}}
  <header class="sheet-header">
   <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
   <div class="header-fields">
 <table>
  <tr>
  <td>
	  <div class="charname">
	   Name:<input  name="name" type="text" value="{{data.name}}" placeholder="Name" />
	  </div>
	 </td>
  <td>
   <div class="resource">
	   Rank: <strong>{{actor.system.rank.max}}-{{actor.system.rank.value}}</strong>
	   Actions:
	   <input style="height: 20px; padding: 0px;" type="checkbox" name="A1" value="A1">
	   <input style="height: 20px; padding: 0px;" type="checkbox" name="A2" value="A2">
	   <input style="height: 20px; padding: 0px;" type="checkbox" name="A3" value="A3">
	   <input style="height: 20px; padding: 0px;" type="checkbox" name="A4" value="A4">
	   <input style="height: 20px; padding: 0px;" type="checkbox" name="A5" value="A5">
   </div>
   <td>
   Speed:
	   <input style="width: 60px; border: 1px solid black; background: transparent;" type="number" name="system.movespeed.value" value="{{actor.system.movespeed.value}}"/>
    <strong>DR:</strong>
	   <input style="width: 30px; border: 1px solid black; background: transparent;" type="number" name="DR" value="0"/>
	   LaC/HaC:
    <input style="width: 30px; border: 1px solid black; background: transparent;" type="number" name="system.ac.value" value="{{actor.system.ac.value}}"/>
    <span>/</span>
    <input style="width: 30px; border: 1px solid black; background: transparent;" type="number" name="system.ac.max" value="{{actor.system.ac.max}}"/>
   </td>
  </td>
  <td>
  </td>
 </tr>
 <tr>
  <td>
   <div class="resource">
    <div style="height:20px">
	<b>Health</b>
	<input style="width: 30px; height: 25px; border: none; background: transparent;" type="number" name="system.health.value" value="{{actor.system.health.value}}">/<input style="width: 30px; height: 25px; border: none; background: transparent;" type="number" name="system.health.max" value="{{actor.system.health.max}}"/>
	</div>
	<div style="border: 1px solid black;">
	   <input style="width: {{actor.system.health.value}}%; background-color: Brown; height: 25px;" disabled=true;>
	</div>
  </td>
  <td>
   <div style="height:20px">
	<b>Stamina</b>
	<input style="width: 30px; height: 25px; border: none; background: transparent;" type="number" name="system.stamina.value" value="{{actor.system.stamina.value}}">/<input style="width: 30px; height: 25px; border: none; background: transparent;" type="number" name="system.stamina.max" value="{{actor.system.stamina.max}}"/>
   </div>
   <div style="border: 1px solid black;">
	   <input style="width: {{actor.system.stamina.value}}%; background-color: ForestGreen; height: 25px;" disabled=true;>
	   </div>
  </td>
  <td>
   <div style="height:20px">
	<b>Mana</b>
	<input style="width: 30px; height: 25px; border: none; background: transparent;" type="number" name="system.mana.value" value="{{actor.system.mana.value}}">/<input style="width: 30px; height: 25px; border: none; background: transparent;" type="number" name="system.mana.max" value="{{actor.system.mana.max}}"/>
   </div>
   <div style="border: 1px solid black;">   
       <input style="width: {{actor.system.mana.value}}%; background-color: DarkTurquoise; height: 25px;" disabled=true;>
   </div>
  </td>
 </tr>
   </table> 
  </div>
 </header>
 {{!-- Sheet Tab Navigation --}}
 <nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="abilites">Abilites</a>
  <a class="item" data-tab="description">Description</a>
  <a class="item" data-tab="items">Items</a>
  <a class="item" data-tab="modifers">Modifers</a>
 </nav>

 {{!-- Sheet Body --}}
 <section class="sheet-body">

{{!-- Abilites Tab --}}
<div class="tab description" data-group="primary" data-tab="abilites">
</div>

  {{!-- Biography Tab --}}
  <div class="tab description" data-group="primary" data-tab="description">    
  
  </div>

	{{!-- Attributes Tab --}}
  <div class="tab modifers" data-group="primary" data-tab="modifers">
  </div>

  {{!-- Owned Items Tab --}}
  <div class="tab items" data-group="primary" data-tab="items">
  </div>
 </section>
</form>
